/* main.css */

/* Reset default values */

html, head, body, h1, h2, h3, h4, p, div {
	padding: 0;
	margin: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
}
body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	color: #FDEEF4;
}

.header {
	background: #999999 url(images/bg-header.png) top left;
	padding: 10px;
}
.header h1 {
	font-size: 40px;
	text-align: left;
	display: inline;
}
.header-button {
	display: inline;
	float: right;
}
.about {
	background: #999999 url(images/bg-header.png) top left;
	padding: 20px 0 20px 0;
}
.about h2 {
	font-size: 22px;
	font-weight: 10;
	text-align: center;
	color: #ffffff;
	width: 700px;
	margin: 0 auto 0 auto;
}
.about h2  strong {
	font-weight: 900;
}
.projects, .skills, .footer {
	padding: 5px 0 5px 0;
	background-color: #E5E4E2;
	color: #504A4B;
}

.project-heading, .skill-heading, .footer-heading {
    padding: 10px;
}
.project-heading h2, .skill-heading h2, .footer-heading h2{
    text-align: center;
    display: inline;
    font-size: 30px
}
.project-title {
	padding: 10px;
	background-color: #D1D0CE;
	margin: 5px;
	border: 1px solid;
	border-style: dashed;
}
.project-detail, .skills-detail, .footer-detail {
	padding: 10px;
	background-color: #D1D0CE;
	margin: 5px;
	border: 1px solid;
	border-style: dashed;
	line-height: 2;
}
.skills-used li {
	font-weight: bold;
	background-color: #666362;
	color: #ffffff;
	display:inline;
	padding: 8px 8px 8px 8px;
}
.footer-detail i {
	font-weight: bold;
	margin: 8px;
}
